<div class="form">
  <div class="banner"><h1 class="bannerHead">User logged in page</h1></div>

  <div class="formBackground">
    <div class="fill"></div>
    <div class="buffer">


    <%= link_to 'Chores', chores_index_path %>
    <%= link_to 'Create Chore', chores_new_path %>




    <% if @current_user.present? %>
      <p>Welcome back <%= @current_user.email %></p>
    <% end %>

      </div>
    </div>
  </div>
</div>
