<div class="form">
  <div class="banner"><h1 class="bannerHead">Chore Survival</h1></div>

  <div class="formBackground">
    <div class="fill"></div>
    <div class="buffer">





    <% if @current_user.present? %>
      <%= link_to 'Chores', chores_path %>
      <%= link_to 'Create Chore', new_chore_path %>
      <%= link_to 'Assign Chore', chores_assign_path %>
      <p>Welcome back <%= @current_user.email %></p>
    <% else %>
      Sign in to play!
    <% end %>

      </div>
    </div>
  </div>
</div>
